@font-face {
    src: url('../assets/RobotoMono-Regular.ttf') format('truetype');
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    src: url('../assets/MI.woff2') format('woff2');
    font-family: 'MI';
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url('../assets/NotoSans-Regular.ttf') format('truetype');
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

:root {
    --mainbradius: 5px;
    --avatarbradius: 5px;
    --font: 'Noto Sans', sans-serif;
    --headerBg: #222;
    --headerClr: #eee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
    transition: all 300ms;
}

@media (prefers-reduced-motion) {
    * {
        transition: none;
    }
}

select,
option,
button {
    cursor: pointer;
}

h1,
h2,
h3 {
    color: #fff;
}

body {
    background-color: #001e1d;
    color: #e8e4e6;
}

.emptych {
    text-align: center;
    margin-top: 2em;
}

main {
    overflow: hidden;
}

.emptych_img {
    border-radius: var(--avatarbradius);
    width: 100px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 12px;
    color: gray;
}

.mention {
    background: rgba(114, 137, 218, 0.4);
    border-radius: var(--mainbradius);
    padding: 2px;
}

.mi {
    font-family: 'MI';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    vertical-align: middle;
    user-select: none;
}

header {
    background-color: var(--headerBg);
    padding: 10px;
    text-align: center;
    color: var(--headerClr);
    position: sticky;
    top: 0;
}

.plbtn {
    float: right;
    cursor: pointer;
}

.menubtn {
    cursor: pointer;
    float: left;
}

.header_chname {
    font-weight: bold;
    padding: 4px;
    border: 1px solid #dbdbdb;
    border-radius: var(--mainbradius);
}

details,
summary,
input,
button,
select,
textarea,
img {
    outline: none;
    border: 0;
}

summary {
    cursor: pointer;
    padding: .3em;
    user-select: none;
}

details[open] summary {
    border-bottom: 1px solid #555;
    margin-bottom: .5em;
}

details {
    border: 1px solid #444;
    padding: 4px;
    width: 200px;
    padding: 8px;
    border-radius: var(--mainbradius);
    margin-top: 1em;
}

#mainmenu-channels_channelslist {
    overflow: auto;
    height: 300px;
    scrollbar-width: thin;
}

.menu_label {
    font-size: 10px;
    user-select: none;
}

#settings_font {
    font-size: 10px;
    background-color: #4f545c;
    border: 1px solid #777;
    border-radius: 5px;
    color: #dbdbdb;
    padding: 2px;
}

.shade {
    background: rgb(0, 0, 0, 0.6);
    z-index: 998;
    width: 100%;
    height: 100%;
    position: fixed;
}

.mainmenu {
    z-index: 999;
    background-color: #252525;
    color: #dbdbdb;
    position: fixed;
    text-align: center;
    height: 100vh;
    padding: 8px;
    width: 230px;
    overflow: hidden;
}

.channelslist_channel {
    background-color: #363436;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 7px;
    text-align: left;
}

.channelslist_channelicon {
    width: 35px;
    vertical-align: middle;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.channelslist_channelname {
    font-size: 14px;
    vertical-align: middle;
}

.plistmenu {
    z-index: 999;
    background-color: #252525;
    color: #dbdbdb;
    position: fixed;
    text-align: center;
    height: 100vh;
    padding: 8px;
    right: 0;
    width: 245px;
    overflow: scroll;
    scrollbar-width: thin;
}

.closebtn {
    font-size: 16px;
    border-radius: var(--mainbradius);
    padding: 3px;
    float: right;
    cursor: pointer;
    color: #999;
    border: 2px solid #555;
    font-size: 14px;
    line-height: 1.0;
}

.closebtn:hover {
    color: #fff;
    border: 2px solid #999;
}

input[type="checkbox"] {
    margin-right: 1em;
}

.plmembers .mention {
    margin-top: 6px;
    border: 1px solid #fff;
}

.messages {
    display: block;
    margin: auto;
    overflow-y: scroll;
    height: 450px;
    width: 500px;
    scrollbar-width: thin;
}

.msg_author {
    vertical-align: top;
    font-weight: bold;
    font-size: 16px;
    margin-left: 1em;
}

.msg_text {
    font-size: 12px;
    margin-left: 20px;
}

.msgbox {
    padding: 16px;
    text-align: center;
    position: fixed;
    bottom: 5px;
    width: 100%;
    padding: 8px;
}

.msgbox_input {
    padding: 8px;
    border-radius: var(--mainbradius);
    width: 400px;
    font-size: 14px;
    border: 1px solid #555;
    background-color: var(--headerBg);
    color: var(--headerClr);
    vertical-align: middle;
    resize: none;
    scrollbar-width: thin;
}

.msgbox_input:hover {
    border: 1px solid #777;
}

.msgbox_input:focus {
    border: 1px solid #999;
}

.msgbox_input:disabled {
    border: 0;
    cursor: not-allowed;
}

#sendmsgBtn {
    display: none;
    border: 0;
    background-color: royalblue;
    padding: 5px;
    color: #fff;
    margin-left: .2em;
    line-height: 1.0;
    border-radius: var(--mainbradius);
}

#sendmsgBtn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.msg {
    margin-top: 1em;
}

.msg_time {
    font-size: 10px;
    color: #555;
    font-weight: 400;
    float: right;
    margin-right: 2em;
    margin-top: 5px;
}

.badge {
    background-color: dodgerblue;
    border-radius: var(--mainbradius);
    padding: 1px 7px;
    line-height: 1.0;
    font-size: 10px;
    margin-left: 1em;
    color: #dbdbdb;
    text-align: center;
    white-space: nowrap;
    vertical-align: 1px;
    cursor: default;
    user-select: none;
    font-weight: bold;
}

.selectEmojiBtn {
    background-color: transparent;
    line-height: 1.0;
    padding: 3px;
    border-radius: var(--mainbradius);
    color: var(--headerClr);
    margin-left: -5em;
}

.selectFileBtn {
    background-color: transparent;
    line-height: 1.0;
    padding: 3px;
    border-radius: var(--mainbradius);
    color: var(--headerClr);
    margin-left: -3em;
}

#mfileuploadform {
    display: none;
}

.selectEmojiBtn:disabled {
    opacity: 0.5;
    cursor: default;
}

.msgbox_emojiMenu {
    display: none;
    background-color: var(--headerBg);
    width: 250px;
    height: 150px;
    text-align: center;
    padding: 16px;
    border: 1px solid #555;
    border-radius: var(--mainbradius);
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.msgbox_emojiMenu_emoji {
    width: 35px;
    margin: 8px;
}

.msgbox_emojiMenu_emoji:hover {
    transform: scale(1.5);
    padding: 3px;
    cursor: pointer;
}

.msg_fileEmbed {
    display: block;
    background-color: var(--headerBg);
    border: 1px solid #555;
    padding: 4px;
    border-radius: 5px;
    text-decoration: none;
    max-width: 200px;
}

.msg_fileEmbed-fileName {
    font-size: 10px;
    color: var(--headerClr);
}

.msg_fileEmbed-downloadIcon {
    font-size: 20px;
    color: dodgerblue;
}

.msg_fileEmbed-fileSize {
    color: #777;
    vertical-align: 10%;
    margin-left: 5px;
}

.msg_picture {
    max-width: 290px;
    max-height: 280px;
    border-radius: 8px;
}

.msg_video {
    max-width: 250px;
    max-height: 270px;
    border-radius: 3px;
}

.msgbox_fileuploadProgress {
    display: none;
    background-color: var(--headerClr);
    font-size: 12px;
    margin: auto;
    color: var(--headerBg);
    width: fit-content;
    padding: 17px;
    border-radius: var(--mainbradius);
    max-width: 250px;
    text-align: center;
}

@media only screen and (max-width: 880px) {
    .messages {
        width: 300px;
        height: 330px;
    }

    #sendmsgBtn {
        display: inline;
        padding: 4px;
        vertical-align: middle;
        margin-left: 1em;
    }

    .msgbox_input {
        width: 280px;
        height: 40px;
        padding: 2px 6px;
        font-size: 12px;
    }

    .msg_time {
        font-size: 9px;
    }

    .selectEmojiBtn {
        display: none;
    }

}

@media only screen and (max-width: 400px) {
    .msgbox_input {
        width: 250px;
        margin-right: 1em;
    }

    .selectEmojiBtn {
        display: none;
    }

    .selectFileBtn {
        margin-left: -3.5em;
    }

    #sendmsgBtn {
        display: inline;
        padding: 4px;
        vertical-align: middle;
    }
}